# The Llama Cloud API key.
# LLAMA_CLOUD_API_KEY=

# The provider for the AI models to use.
MODEL_PROVIDER=openai

# The name of LLM model to use.
MODEL=gpt-4-turbo

# Name of the embedding model to use.
EMBEDDING_MODEL=text-embedding-3-large

# Dimension of the embedding model to use.
EMBEDDING_DIM=1024

# The OpenAI API key to use.
# OPENAI_API_KEY=

# Temperature for sampling from the model.
# LLM_TEMPERATURE=

# Maximum number of tokens to generate.
# LLM_MAX_TOKENS=

# The number of similar embeddings to return when retrieving documents.
TOP_K=3

# Specify the port for the multi-agent services
# Core services
MESSAGE_QUEUE_PORT=8000
CONTROL_PLANE_PORT=8001
HUMAN_CONSUMER_PORT=8002
# Agent services
AGENT_QUERY_ENGINE_PORT=8003
AGENT_QUERY_ENGINE_DESCRIPTION="Can query the knowledge about US letter standards"
AGENT_DUMMY_PORT=8004
AGENT_DUMMY_DESCRIPTION="Does nothing"