name: Build Package

on:
  pull_request:

env:
  POETRY_VERSION: "1.8.3"
  PYTHON_VERSION: "3.9"

jobs:
  unit-test:
    name: Unit Tests
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: llama-index-server
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry==${{ env.POETRY_VERSION }}

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.create true
          poetry config virtualenvs.in-project true
          poetry env use python

      - name: Install dependencies
        shell: bash
        run: poetry install --with dev

      - name: Run unit tests
        shell: bash
        run: |
          poetry run pytest tests

  type-check:
    name: Type Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: llama-index-server
    steps:
      - uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry==${{ env.POETRY_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "poetry"

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.create true
          poetry config virtualenvs.in-project true
          poetry env use python

      - name: Install dependencies
        shell: bash
        run: poetry install --with dev

      - name: Run mypy
        shell: bash
        run: poetry run mypy llama_index

  build:
    needs: [unit-test, type-check]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: llama-index-server
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        run: pipx install poetry==${{ env.POETRY_VERSION }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Clear python cache
        shell: bash
        run: poetry cache clear --all pypi
      - name: Build package
        shell: bash
        run: poetry build
      - name: Test installing built package
        shell: bash
        run: python -m pip install .
      - name: Test import
        shell: bash
        working-directory: ${{ vars.RUNNER_TEMP }}
        run: python -c "import llama_index_server"
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/
